---
import Layout from '../layouts/Layout.astro';
import { formatDate } from '@utils/functions';

const posts = await Astro.glob('./*.mdx');
posts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime()
	);
});
---

<Layout
	title="Kasper Aamodt's blog"
	description="I'm currently a developer at my own company, Devhuset. I blog about stuff, mostly tech."
	url="https://aamodt.xyz"
	image="https://og.devhuset.dev/api/og/kasperaamodt-blog/post"
>
	<div class="content home">
		<p class="bio">
			I'm currently a developer at my own company,
			<a
				href="https://devhuset.no"
				target="_blank"
				rel="noopener noreferrer">Devhuset</a
			>. I blog about stuff, mostly tech.
		</p>
		<ul class="unstyled-list">
			{
				posts?.map((post) => (
					<li>
						<a href={post.url}>
							<b>{formatDate(post.frontmatter.date)}</b>
							{post.frontmatter.title}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
